/* .card-container {
  transition: 0.1s ease;
  cursor: pointer;
}

.card-container:hover {
  transform: scale(1.01);
} */

/* .card-image-container {
  height: 20rem;
  overflow: hidden;
  transition: 0.1s ease;
}
 */
/* .player-card {
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  background-position: center;
  overflow: hidden;
  position: relative;
  margin: 10px auto;
  cursor: pointer;
} */

/* .card-image-container {
  transition: all linear 0.25s;
} */

/* .player-card-name {
  position: absolute;
  left: 10px;
  bottom: 20px;
  font-size: 30px;
  color: #fff;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  font-weight: bold;
  transition: all linear 0.25s;
}

.player-card-position {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  font-size: 13px;
  transition: all linear 0.25s;
} */

/* .player-card:hover .card-image-container {
  filter: grayscale(100%);
}

.player-card:hover .player-card-name {
  bottom: 25px;
} */
